.item_team {
    .ava {
        border: 1px solid #e5e5e5;
        padding: 7px;
    }
    .name {
        color: #355d9a;
        font-weight: 700;
        font-size: 16px;
        text-transform: uppercase;
        text-align: center;
        margin-top: 15px;
    }
    .position {
        color: #1f1f1f;
        font-size: 13px;
        padding: 30px 25px 0;
        background-image: url(../img/dots.png);
        background-repeat: no-repeat;
        background-position: center 15px;
        text-align: center;
        line-height: 1.2;
    }
}
