$body-bgc: #fff;

body {
    font-family: 'Exo 2', sans-serif;
    background-color: $body-bgc;
}

textarea {
    font-family: 'Exo 2', sans-serif;
}
$blue: #355d9a;
$blue2: #2d62b2;
$orange: #ff6800;
