@font-face {
    font-family: 'Bender';
    src: url('../fonts/bender/benderbold.woff2') format('woff2'),
    url('../fonts/bender/benderbold.woff') format('woff'),
    url('../fonts/bender/benderbold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
}
// @font-face {
// 	font-family: Poiret;
// 	src: url(../fonts/poiret_one/PoiretOne-Regular.ttf);
//     font-weight: 400;
//     font-style: normal;
// };







// @font-face {
// 	font-family: 'Pirulen';
// 	src: url(../fonts/pirulen_rg/pirulen-rg.ttf);
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
// 	font-family: Proxima;
// 	src: url(../fonts/proxima_nova/Proxima-Nova-Regular.otf);
//     font-weight: 400;
//     font-style: normal;
// }
// @font-face {
// 	font-family: Proxima;
// 	src: url(../fonts/proxima_nova/Proxima-Nova-Semibold.otf);
//     font-weight: 600;
//     font-style: normal;
// }
// @font-face {
// 	font-family: Proxima;
// 	src: url(../fonts/proxima_nova/Proxima-Nova-Bold.otf);
//     font-weight: 700;
//     font-style: normal;
// }
